.post{
	.entry-content{
		@media screen and (min-width: 800px){
			margin-left: 230px;
		}
		min-height: 180px;
		@media screen and (max-width: 800px){
			margin-left: 0;
		}
	}
	.meta{
		position: absolute;
		top: 75px;
		line-height: 2;
		font-size: 0.9em;
		color: $color-gray02;
		width: 200px;
		@media screen and (max-width: 800px){
			margin-top: 15px;
			position: static;
			width: auto;
		}
		a{
			@include link-colors($color-gray02, $color-gray01);
			@include transition(0.3s);
		}
		.author, .date, .tags, .comments, .more-link{
			padding-left: 30px;
			position: relative;
			&:before{
				color: $color-gray03;
				font: 1.3em $font-icon;
				line-height: 1.6em;
				position: absolute;
				left: 0;
			}
			@media screen and (max-width: 800px){
				@include inline-block;
				margin-right: 30px;
			}
		}
	}
}