{% if index %}
	<div class="entry-content">
		<h1 class="title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
		{{ content |excerpt }}
	</div>
{% else %}
	<div class="entry-content">
		<h1 class="title">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</h1>
		{{ content }}
	</div>
{% endif %}

<div class="meta">
	<div class="author icon-user">{% include post/author.html %}</div>
	<div class="date icon-calendar">{% include post/date.html %}{{ time }}</div>
	<div class="tags icon-tags">{% include post/categories.html %}</div>
	{% if site.disqus_short_name and site.disqus_show_comment_count == true %}
		<span class="comments icon-comments"><a href="{{ root_url }}{{ post.url }}{{ page.url }}#disqus_thread">Comments and Reactions</a></span>
	{% endif %}
	{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
	{% if index and excerpted == 'true' %}
		<hr class="spacer">
		<a href="{{ root_url }}{{ post.url }}" class="more-link icon-arrow-right">{{ site.excerpt_link }}</a>
	{% endif %}
</div>
